/*============================================================

	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123

============================================================*/
@import url('href="https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,700,800"');

/*# sourceMappingURL=style.css.map */
.cform12 {
    list-style: none;
}
.cform12 li {
    display: table;
    width: 100%;
}
.cform12 label {
    display: table-cell;
    width: 35%;
    font-size: 10pt;
    color: #5a5a5a;
    font-weight: bold;
    padding: 4px 9px;
}
.cform12 em {display: table-cell;}
.cform12 label span {color:#f00;}
.cform12 li input {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.cform12 li textarea {
    border: 1px solid rgba(0, 0, 0, 0.0784314)!important;
}
.submit1 {
    color: #fff !important;
}
.header_inner_right {
height: 40px!important;
}
.header_menu_bottom nav.main_menu>ul>li>a {
line-height: 40px!important;
}
.header_bottom_widget.widget_search {
margin-top: -20px;
}
.q_accordion_holder.accordion .ui-accordion-header{
    text-transform: initial!important;
    font-weight: 300!important;
}
.cform2 {
    margin-top: -22px;
}
.cform2 input[type="text"] {
    border: none;
    border-left: 1px solid #b9b9b9;
    padding: 8px 10px 8px 15px;
    height: 10px;
    outline: 0;
}
.cform2 input[type="image"] {
    height: 20px;
    position: relative;
    top: 6px;
}

header:not(.centered_logo) .header_fixed_right_area {
    line-height: 50px;
}
.q_accordion_holder.accordion .ui-accordion-header.ui-state-active .accordion_mark{
      background-color: #fff !important;
    border:  #fff !important;
}
.q_accordion_holder.accordion .ui-accordion-header .accordion_mark{
      border-color: #fff !important;
}
.home #searchform {
    display: none;
}
.stick.menu_bottom .header_bottom .container {
padding: 0;
height: 60px;
width: 100%;
}
/*.stick.menu_bottom .header_menu_bottom_inner {
margin-top: 12px;
}*/
.sticky .header_menu_bottom .main_menu_header_inner_right_holder {
float: right;
margin-top: 10px;
}
.q_accordion_holder.accordion h5.ui-accordion-header {
    font-size: 17px !important;

}

.q_accordion_holder.accordion.without_icon .ui-accordion-header span.tab-title {
    padding: 0 0 0 45px!important;
    }



.wpcf7 input[type="file"]{
    display: block;
    margin: 5px 0 5px;
    padding: 15px;
    border: 0;
    border-radius: 0;
    outline: 0;
    resize: none;
    font-size: 13px;
    line-height: 17px;
    background-color: #fff;
    color: #818181;
    font-family: Raleway;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
}
