@font-face{font-family:'snapshot-menu-icon';src:url("../icons/snapshot-menu-icon.eot");src:url("../icons/snapshot-menu-icon.eot?#iefix") format("embedded-opentype"),url("../icons/snapshot-menu-icon.ttf") format("truetype"),url("../icons/snapshot-menu-icon.woff") format("woff"),url("../icons/snapshot-menu-icon.svg#snapshot-menu-icon") format("svg");font-weight:normal;font-style:normal}#toplevel_page_snapshot_pro_dashboard div.wp-menu-image::before{font-family:'snapshot-menu-icon' !important;content:'\e900'}

/*# sourceMappingURL=maps/menu-icon.css.map */


/* 696318-1538764770-au */