

.color1{  color: #73b6b7 !important;}
.dark.header_style_on_scroll nav.main_menu>ul>li.active>a, .dark.header_style_on_scroll nav.main_menu>ul>li:not(:first-child):before, .dark.header_style_on_scroll nav.main_menu>ul>li>a, .dark:not(.sticky):not(.scrolled) nav.main_menu>ul>li.active>a, .dark:not(.sticky):not(.scrolled) nav.main_menu>ul>li:not(:first-child):before, .dark:not(.sticky):not(.scrolled) nav.main_menu>ul>li>a
{
    color: #73b6b7;
    font-weight: 300;
    font-size: 16px;

}
.header_inner_left {
    border-bottom: 1px solid #b6b6b6;
}

body > div.wrapper > div > div > div > div > div{
padding: 0!important;
}